*{
	padding: 0;
	margin: 0;
}
.header{
	background-color: #c94012;
	width: 100%;
	height: 155px;
	text-align: center;
	color: white;
	line-height: 70px;
	border: solid;
}
.content{
	background-color: green;
	width: 85%;
   margin: 0;
	height: 700px;
	text-align: center;
	color: white;
	line-height: 30px;
	border: solid;
}
.footer{
	background-image:url(https://images.ctfassets.net/hrltx12pl8hq/5KiKmVEsCQPMNrbOE6w0Ot/341c573752bf35cb969e21fcd279d3f9/hero-img_copy.jpg?fit=fill&w=800&h=300);
	width: 100%;
	height:300px;
	text-align: center;
	color: pink;
	line-height: 300px;
	border: solid;

}
.header img{
	width: 200px;
	height: 150px;
	float: left;
	margin-left: 10px;
}
.post{
	display: flex;
}
.box{
	background-color: white;
	color: black;
	border: 5px solid black;
	padding: 15px;
	margin: 15px;
	flex-grow: 1;
}
.box img{
	max-width: 100%;
}
body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZWp4p4W_aOFA1ksszaMuV-OJu85U6KFqWhcTPVvZ6afpGos8DqOngZFGZw9t-s7qwEM8&usqp=CAU);
  background-size: 2000px 2200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
 .content img{
 	width:250px; 
 	height:250px;
 	border:inset; 

 }
 p{
 	size: 200px;
 }
 
 .header img:{
 	width:100px; 
 	height:100px;
 }
 .menu{
 
 	background-color: #a6e82c;
 	color: white;
 	text-align:left;
 	border: inherit; 

 	border: dashed;
 }
 .menu ul{
 	list-style: none;
 	text-align: center;
 }
 .menu li{
 	display:inline-block;
 	padding:5px 10px;
 	margin: 10px 15px; 
    text-align: center;
 }
 .menu li:hover{
 	background-color:black;
 	color: white
